<div class="header">
  <p class="header_title"><%= @article.title %> article</p>
  <div class="header_menu">
    <div class="pure-menu pure-menu-horizontal" >
        <ul class="pure-menu-list">
            <%= link_to "All Articles", articles_path, :class => "pure-menu-item pure-menu-selected pure-menu-link", :id => 'all_articles_menu', :method => 'get'%>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Articles by date</a>
                <ul hover class="pure-menu-children">
                  <%= link_to "Last month article", articles_path(period: 1.month.ago), :class => "pure-menu-item pure-menu-selected pure-menu-link",  :id => 'menu_item_1' %>
                  <%= link_to "Last week articles", articles_path(period: 7.days.ago), :class => "pure-menu-item pure-menu-selected pure-menu-link", :id => 'menu_item_2' %>
                  <%= link_to "Last day articles", articles_path(period: 1.day.ago), :class => "pure-menu-item pure-menu-selected pure-menu-link", :id => 'menu_item_3' %>
                </ul>
            </li>
        </ul>
      </div>
  </div>
</div>
 
<div class="wrapper">
  <div class="content">
    <div class="buttons_container">
        <%= link_to "Back", articles_path, class: "back_link" %>
        <%= link_to "Edit", edit_article_path(@article), class: 'edit_link', method: 'get' %>
    </div>

    <div class="article_container">
      <h1>Title</h1>
        <h3><%= @article.title %><h3>
      <h1>Text: </h1>
        <h3><%= @article.text %><h3>
    </div>
  </div>
</div>

<img src=<%= @article.avatar.url %>  style="width: 720px; height: 480px; border-radius: 50px"/>
